/* Global */
.float-right {
    float: right;
}


/* Index */
nav.navbar {
    margin-bottom: 0;
}

nav.navbar .navbar-brand:hover {
    color: #505050;
}

nav.navbar ul.nav > li > a:hover {
    color: #505050;
}

nav.navbar li.dropdown a:hover {
    background: #00bc8c;
}


/* Articles */
.article {
    margin-bottom: 15px;
}

.article p.date {
    float: right;
    color: 	#A9A9A9;
}

ul.nav li.active a {
    background: #00bc8c;
}

ul.nav li.active a:hover {
    background: #009871;
}


/* Article form */
textarea {
    resize: vertical; 
}

