/* Global */
.float-right {
    float: right;
}


/* Index */
nav.navbar {
    margin-bottom: 0;
}


/* Topics */
.article {
    margin-bottom: 15px;
}

.article p.date {
    float: right;
    color: 	#A9A9A9;
}


/* New_article */
textarea {
    resize: vertical; 
}

