{% extends "index.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Delete this article</h3>
                </div>
                <div class="panel-body">
                    Are you sure that you want to remove article '{{ article.title }}'?
                </div>
                <div class="panel-footer">
                    <form role="form" method="post">
                        <div class="btn-group" role="group" aria-label="...">
                            <a class="btn btn-warning btn-sm" href="{{ url_for('edit_article', article_id=article.id) }}">Edit</a>
                            <button class="btn btn-danger btn-sm" href="{{ url_for('delete_article', article_id=article.id) }}" role="button" type="submit">Remove</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}