{% extends "index.html" %}
{% block content %}

<div class="container">
    <div class="col-sm-12 col-sm-2">
        <ul class="nav nav-pills nav-stacked hidden-xs">
            {% for topic in topics %}
                <li>
                    <a href="{{ url_for('view_topics', topic_id=topic.id) }}">{{topic.name}}</a> 
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-sm-12 col-sm-10">
        <div class="row">
            {% for article in articles %}
                <div class="col-sm-12 article">
                    <h2>{{article.title}}</h2>
                    <p>{{article.description}}</p>
                    <p class="date" >Added: {{article.date_added}}</p>           
                    <p>
                        <div class="btn-group" role="group" aria-label="...">
                            <a class="btn btn-success btn-sm" href="{{ article.url }}" role="button">Read more &raquo;</a>     
                            {% if can_modify(article) %}
                                <a class="btn btn-warning btn-sm" href="{{ article.url }}" role="button">Edit</a>
                                <a class="btn btn-danger btn-sm" href="{{ article.url }}" role="button">Remove</a>
                            {% endif %}
                        </div>
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
    
{% endblock %}